
body, #head, #content, a {
padding:0;
margin:0;
color:#B5B5B5}
body {
background:#5D5D5D;
-webkit-text-size-adjust:100%;
}
h1, h2, .h2, h3, h4, p, .itemaddress, table, #searchbox, #content ul, #content ol {
margin:0;
padding:0 .5em .5em .5em;
font-style:normal;
}
h1, h2, .h2, h3, h4, p, label, .itemaddress, table, th, td, #content ul, #content ol, #content li, #searchbox {
color:#666666}
h1 {
font-weight:normal;
padding:.5em;
margin-bottom:.75em;
border-bottom:solid 1px #ccc
}
h1 span {
display: block;
font-size: 50%;
}
h3 {
font-size:100%
}
body, input {
font:normal 0.96em arial, verdana, sans-serif
}
body, a, .selected li a, #head a, #sidemenu a, #logo, #nav li a, #nav li.selected li a, #sidemenu li a, #sidemenu li.selected li a {
color:#0689F4}
#content a, a {
overflow:hidden;
padding:5px
}
a {
text-decoration:none
}
#content li {
padding-bottom:.5em
}
#content a {
color:#0689F4;
margin:15px -5px
}
.tracker, #footer h2, #searchbox label {
position:absolute;
left:-90em
}
#logo {
font-size:110%;
text-align:center;
padding:.7em 4em 0 4em;
min-height:1.9em;
color:#B5B5B5}
#logo a {
background:transparent !important;
color:#B5B5B5 !important;
border:none !important
}
#logo img {
max-width:160px;
margin:0 0 5px 0
height:auto;
border:0;
}
.mobile .prices #content table {
margin-top:-0.7em
}
.mobile .prices #content tr {
position:relative;
overflow:hidden;
}
.mobile .prices #content tr.titles {
position:absolute;
left:-20em;
}
.mobile .prices #content th,
.mobile .prices #content td {
position:relative;
display:block;
clear:both;
float:none;
width:100%;
}
.embed {
position: relative;
height: 0;
overflow: hidden;
padding-bottom: 75%;
padding-bottom: 56.25%;
}
.embed iframe {
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
}
#home-page #logo {
padding:.7em 0 0 0;
text-align:center;
}
#home-page #logo img {
max-width:none;
max-width:240px !important;
height:auto;
margin:5px 0
}
#menu, #nav {
list-style:none;
overflow:hidden;
padding:0;
margin:0
}
#nav {
margin:0 0.5em;
}
#menu img {
border:none;
margin:0 0 -2px 0
}
#menu li {
padding:5px 0;
position:absolute
}
#footer {
position:relative;
margin:0;
text-align:center;
color:#B5B5B5}
#footer p {
margin-bottom:1em;
color:#B5B5B5}
#footer a {
color:#FFFFFF;
padding:1em
}
small {
font-size:60%;
}
small a {
text-decoration:none;
text-transform:capitalize;
margin:0 -5px 0 -2px
}
p small span {
display:block;
clear:both;
padding:0 .25em
}
#goback {
top:.5em;
left:.5em
}
#gomenu {
top:.5em;
right:.5em
}
.mobile #content {
margin:.5em;
overflow:hidden;
}
#content {
padding:0 1em .5em 1em;
background:#ffffff
}
#content:not(.legacy) {
position:relative
}
#home-page.mobile #content {
display:none;
}
#content ul, #content ol {
margin:0 1em
}
#content li h2, #content li h3 {
margin:.5em 0
}
#content * {
padding-left:0;
padding-right:0
}
#content a {
color:#0689F4}
fieldset {
border:none;
padding:0;
margin:0
}
#searchbox {
padding:.5em;
margin:0 0 0 0
}
#searchbox input {
float:left;
font-size:115% !important;
padding:.3em;
margin:0 0 .5em 0;
width:70%;
border:none;
border:solid 1px #4E4E4E}
#searchbox input.submit {
float:right;
width:25%;
margin:-1px 0 0 0;
text-transform:capitalize;
border:solid 1px #262728}
#content input.submit {
padding:5px 8px;
overflow:hidden;
width:auto;
}
input.submit:hover {
color: #fff !important;
}
.mobile #content, #menu li, #head a, #nav a, #sidemenu a, input, textarea {
border-radius:.3em;
-moz-border-radius:.3em;
-webkit-border-radius:.3em
}
input[type='submit'],
input[type='search'] {
-webkit-appearance:none;
}
#head a, .mobile #nav a, #sidemenu a, input.submit, input.submit:hover {
cursor:pointer;
color:#FFFFFF;
background:#262728;
padding:5px 8px;
text-decoration:none;
border:1px solid #262728;
background:#262728}
.mobile #nav ul, #sidemenu {
text-align:left;
list-style:none;
padding:.5em;
margin:0
}
.mobile #nav a, .mobile #sidemenu a {
position:relative;
display:block;
padding:.6em 1.8em .6em .8em;
margin:0 0 0.5em 0;
text-decoration:none;
font-size:110%;
color:#FFFFFF;
white-space:nowrap !important;
text-overflow:ellipsis;
overflow:hidden !important;
}
.mobile #nav a:after, #sidemenu a:after {
content:"\203A";
color:#FFFFFF;
position:absolute;
right:0.4em;
font-family:arial;
font-size:160%;
margin:-0.26em 0;
}
#content img {
max-width:100%;
height:auto;
border:none
}
#content .more {
clear:both
}
#content ul, #content ol {
margin-bottom:0;
margin-left:1.2em;
margin-top:0;
padding:0 0 1em 0
}
#content ol {
margin-left:2em
}
#content ul ul, #content ol ul {
list-style:disc;
margin:0 0 0 1em;
padding:0.5em 0 0 0
}
#content li {
padding:.3em
}
#top > h2, #top > h3 {
margin-top:.5em
}
h2, li h3, .h2 {
font-size:120%;
font-weight:normal
}
li h3 {
font-size:140%
}
body {
font-size:100%
}
#content ul.open, #content ul.closed {
list-style:none;
margin:0 0 1em -5px;
line-height:1em;
}
#content ul.open li, #content ul.closed li {
margin:0 0 -0.4em 0;
}
.open h3, .closed h3 {
display:inline;
padding:0;
margin:0 0.3em 0 0;
font-size:100%
}
.open:not(.legacy) span, .closed:not(.legacy) span {
display:inline-block;
position:relative;
overflow:hidden;
width:.3em;
height:1em
}
.open:not(.legacy) span:before, .closed:not(.legacy) span:before {
content:" - ";
text-align:center
}
#top ul#sidemenu {
padding:0 0 1em 2em;
margin:0
}
#footer ul#sidemenu {
padding:0 0 1em 0;
margin:0 0.5em;
}
#excerpts li {
margin:0 0 1em 0
}
#excerpts:not(.legacy) {
float:none;
position:relative;
clear:both;
overflow:hidden
}
.feed, .year {
clear:both;
margin-bottom:1em
}
li h2 {
margin:0 0 -10px 0;
padding:0;
line-height:0
}
html:root li[data-date] > h2, html:root li[data-date] div > h2, html:root li[data-date] > h3, html:root li[data-date] div > h3 {
line-height:normal;
margin-bottom:-5px !important
}
.archived li {
margin-bottom:1em
}
html:root li[data-date] div {
margin-top:-1em !important
}
html:root li[data-date]:before {
content:attr(data-date) "";
position:relative;
min-width:2em;
margin:0 .6em 0 -2em;
top:.2em;
background:#ffffff;
font-weight:normal;
font-size:80%;
float:left
}
html:root li[data-date] {
float:none;
position:relative;
clear:both
}
html:root li[data-date] div {
float:left;
position:relative;
overflow:hidden;
margin:0 0 1em 0
}
html:root li[data-date] div h2, html:root li[data-date] div h3 {
position:relative;
padding:0;
margin:-0.1em 0 0 0
}
html:root li[data-date] div h2 a, html:root li[data-date] div h3 a {
position:relative;
display:block;
top:-2px
}
html:root li[data-date] div p {
padding:0;
margin:0
}
html:root .year li[data-date] div {
margin-bottom:-1em !important
}
blockquote[data-cite]:after {
content:attr(data-cite) "";
position:relative;
display:block;
min-width:2em;
color:#666666}
#legal {
font-size:80%;
list-style:none;
padding:1em 0;
margin:0 .75em .5em .75em;
border-top:solid 1px #4E4E4E;
border-bottom:solid 1px #4E4E4E}
#legal a {
white-space:nowrap;
margin:0;
padding:0;
}
#legal li {
display:inline;
margin:0;
padding:0.3em 0.55em;
}
thead td, th {
font-weight:bold
}
.address {
margin-bottom:1em
}
.schema span {
display:block
}
#content ul.setThumbs {
position:relative;
list-style:none;
padding:0 0 .1em 0;
margin:0 0 0 -1em;
text-align:center;
overflow:hidden;
}
#content ul.setThumbs li {
float:left;
overflow:hidden;
margin:0 0 .75em 1em;
padding:0
}
#content .staff {
position:relative;
list-style:none;
padding:0;
margin:0 0 1em 0;
}
#content .staff li {
padding:0;
margin:0 0 1em 0;
}
.staff span {
display:block;
position:relative;
overflow:hidden;
text-indent:-0.6em;
}
.staff p {
padding:0;
margin:0;
}
.staff span.name {
text-indent:0;
}
.regulations #content .staff li {
padding:0;
margin:0 0 1em 0;
}
.privacy #content .address,
.regulations #content p.address,
.regulations #content .staff li {
border-left:solid 1px #ccc;
padding-left:1em;
}
#content .address .address {
border-left:none;
padding-left:0;
}
.privacy #content .address .itemaddress {
margin-left:-6px;
padding-bottom:0;
}
.privacy #content .address .itememail {
margin-bottom:0;
}
.regulations #content .staff,
.regulations #content p.address {
margin-top:0.5em !important;
}
#content ul.boxes,
#content ul.boxesx2,
#content ul.boxesx3,
#content ul.boxesx4 {
list-style: none;
padding: 0;
position: relative;
overflow: hidden;
}
#content ul.boxes li,
#content ul.boxesx2 li,
#content ul.boxesx3 li,
#content ul.boxesx4 li {
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
border: solid 1px #ccc;
padding: 1em;
margin: 0 0 2% 0;
float: left;
}
#content ul.boxesx3 > li:nth-child(3n+1),
#content ul.boxesx4 > li:nth-child(4n+1) {
clear: both;
}
.mobile #content ul.boxesx3 > li:nth-child(3n+1),
.mobile #content ul.boxesx4 > li:nth-child(4n+1) {
clear: none;
}
#content ul.boxesx2,
#content ul.boxesx4,
.mobile #content ul.boxesx3,
.mobile #content ul.boxesx4 {
margin: 0 0 0 -2%;
width: 102%;
}
#content ul.boxesx2 li,
.mobile #content ul.boxesx3 li,
.mobile #content ul.boxesx4 li {
margin: 0 0 2% 2%;
width: 48%;
}
#content ul.boxesx3 {
margin: 0 0 3.3% -3.3%;
width: 103%;
}
#content ul.boxesx3 li {
margin: 0 0 3.3% 3.3%;
width: 30%;
}
#content ul.boxesx4 li {
margin: 0 0 2% 2%;
width: 23%;
}
#accessibility-go,
#cookie-go {
display: none;
}
#announcements {
text-overflow: ellipsis;
}
#cache {
position: absolute;
width: 1em;
height: 1em;
overflow: hidden;
}
#cache img {
position: absolute;
left: 1em;
}
.mobile .group .phone,
.mobile .group .email {
position: relative;
overflow: hidden;
float: left;
width: 49%;
padding: 0;
margin: 0 1% 1em 0;
font-size: 0.5em;
height: 5em;
line-height: 0;
word-break: break-all;
word-wrap: break-word;
border-radius:.5em;
-moz-border-radius:.5em;
-webkit-border-radius:.5em;
}
.mobile .group .email {
margin: 0 0 1em0 1%;
}
.mobile .group .phone a,
.mobile .group .email a {
position: absolute;
top: 0 !important;
left: 0;
z-index: 2;
background: #262728;
color: #fff !important;
margin: 0 0 0 0 !important;
padding: 1.5em 0 !important;
line-height: 0;
width: 100%;
overflow: hidden;
height: 2em;
}
.mobile .group .phone a:before {
content: 'Call';
display: block;
margin: 0 0 1.5em 0 !important;
padding: 0.3em 0.5em;
font-size: 3em;
line-height: 0;
}
.mobile .group .email a:before {
content: 'Email';
display: block;
margin: 0 0 1.5em 0 !important;
padding: 0.3em 0.5em;
font-size: 3em;
line-height: 0;
}
.mobile .group .phone a:after,
.mobile .group .email a:after {
content: "\203A";
position: absolute;
top: 0.47em;
left: 85%;
font-size: 4em;
line-height: 0;
}
@media only screen and (min-width: 510px) and (max-width: 629px) {
.mobile #content ul.boxesx3,
.mobile #content ul.boxesx4 {
margin: 0 0 3.3% -3.3%;
width: 103%;
}
#content ul.boxesx2 li,
.mobile #content ul.boxesx3 li,
.mobile #content ul.boxesx4 li {
margin: 0 0 3.3% 3.3%;
width: 30%;
}
}
.js #googlemap-print {
display: none;
}
.simplebanner {
position:relative;
overflow:hidden
}
@-webkit-keyframes home {
0%{opacity:0;}
3%{opacity:1;}
12%{opacity:1;}
15%{opacity:0;}
}
@keyframes home {
0%{opacity:0;}
3%{opacity:1;}
12%{opacity:1;}
15%{opacity:0;}
}
.js .simplebanner img {
position:absolute;
left:0;
top:0;
opacity:0;
}
.js .simplebanner.home img {
-webkit-animation:home 30s infinite;
animation:home 30s infinite;
}
.js .simplebanner img.blank {
position:relative;
-webkit-animation:none;
animation:none;
opacity:0 !important;
}
.js .simplebanner.home img:nth-child(11){-webkit-animation-delay:3s; animation-delay:3s;}
.js .simplebanner.home img:nth-child(10){-webkit-animation-delay:6s; animation-delay:6s;}
.js .simplebanner.home img:nth-child(9){-webkit-animation-delay:9s; animation-delay:9s;}
.js .simplebanner.home img:nth-child(8){-webkit-animation-delay:12s; animation-delay:12s;}
.js .simplebanner.home img:nth-child(7){-webkit-animation-delay:15s; animation-delay:15s;}
.js .simplebanner.home img:nth-child(6){-webkit-animation-delay:18s; animation-delay:18s;}
.js .simplebanner.home img:nth-child(5){-webkit-animation-delay:21s; animation-delay:21s;}
.js .simplebanner.home img:nth-child(4){-webkit-animation-delay:24s; animation-delay:24s;}
.js .simplebanner.home img:nth-child(3){-webkit-animation-delay:27s; animation-delay:27s;}
.js .simplebanner.home img:nth-child(2){-webkit-animation-delay:30s; animation-delay:30s;}
@media only screen and max-device-width 480px {
#menu img {
width:15px;
height:auto;
}
}
@media only screen and max-device-width 480px and -webkit-min-device-pixel-ratio 2 {
body {
font-size:91%;
}
#menu img {
width:15px;
height:auto;
}
}
@media only screen and min-device-width 768px and max-device-width 1024px {
#menu img {
width:50%;
height:auto;
}
}
.mobile #content img {
border:solid 1px #ccc
}
