<?php $imgRand = mt_rand(); ?>
@-webkit-viewport { width:device-width; }
@-moz-viewport { width:device-width; }
@-ms-viewport { width:device-width; }
@-o-viewport { width:device-width; }
@viewport { width:device-width; }
html, body {
	min-height:100%;
}
body {
	min-width:290px;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	text-size-adjust:100%;
}
a:active,
a:hover {
	outline:0;
}
#main {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-overflow-scrolling:touch;
	overflow:hidden;
	overflow-y:scroll;
	top:0;
	right:0;
	bottom:0;
	-webkit-overflow-scrolling:auto;
	box-shadow:none;
	padding:0 2em 2em;
	border-radius:0;
	position:relative;
	width:100%;

}
#main::-webkit-scrollbar {
	-webkit-appearance:none;
	width:8px;
	height:8px;
}
#main::-webkit-scrollbar-thumb {
	border-radius:0;
}
.js #nav a {
	padding:0.8em 1.5em !important;
}
#nav a {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:background .3s ease;
	-moz-transition:background .3s ease;
	transition:background .3s ease;
	background:<?php echo $color_button_bg; ?>;
	display:block;
	width:100%;
}




<?php if($navpos == 'top'){ ?>
.js #nav {
	clip:rect(0 0 0 0);
	max-height:0;
	top:0;
	position:absolute;
	display:block;
	overflow:hidden;
	width:auto;
	background:<?php echo $color_button_bg; ?>;
	margin:0 0 0 0;
	padding:0 !important;
}
.js #nav li {
	border-radius:0;
	border-bottom:solid 1px <?php echo $color_body_bg; ?>;
	margin:0 -0.5em;
}
<?php } ?>
<?php if($navpos == 'header'){ ?>
.js #nav {
	clip:rect(0 0 0 0);
	max-height:0;
	top:0.5em;
	position:absolute;
	display:block;
	overflow:hidden;
	width:auto;
	/* background:#262728; */
	margin:0 0.4em 0 0.4em;
	padding:0 0 0.4em 0 !important;
	background: transparent;
}
.js #nav li {
	border-bottom:solid 1px <?php echo $color_body_bg; ?>;
	margin:0 -0.5em;
}
.js #nav li a {
	padding:.6em .75em !important;
	margin:0 0.5em 0 0.5em !important;
	width: auto !important;
}
<?php } ?>




.js #nav li a {
	margin-bottom:0;
}
.js #nav li:last-child {
	border-bottom:none;
}
#nav.opened {
	max-height:9999px;
}
#nav .active a:hover {
	color:#fff;
}
.js #toggle {
	position:absolute;
	right:3em;
	margin-top:1.3em;
	z-index:9;
}
#toggle {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	display:block;
	float:right;
	overflow:hidden;
	border:none !important;
	border-radius:0 !important;
	text-indent:-9999px;
	width:36px;
	height:36px;
	<?php if($navpos == 'header'){ ?>
	margin:0 -2.5em 1em 0;
	position:absolute;
	top:-1em;
	<?php } else { ?>
	margin:0 -2em 1em 0;
	<?php } ?>
	background:transparent !important;
}

#toggle:before {
	position:absolute;
	content:' ';
	width:26px;
	height:4;
	top:13px;
	right:13px;
	border-top:solid 4px <?php echo $color_button_bg; ?>;
}
#toggle:after {
	position:absolute;
	content:' ';
	width:26px;
	height:4px;
	top:21px;
	right:13px;
	border-top:solid 4px <?php echo $color_button_bg; ?>;
	border-bottom:solid 4px <?php echo $color_button_bg; ?>;
}

#main::-webkit-scrollbar {
	background-color:transparent;
}